* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// <uniquifier>: Use a unique and descriptive class name

.climate-crisis-<uniquifier> {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h2{
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;/*faz com que carregue outra fonte caso a primeira não carregue*/
}

#perfil{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 70px;
  padding: 2em;
  grid-template-areas:  "foto nome"
                        "foto bio"
                        "foto info";
}

.fotoperfil {
  grid-area: foto;
  max-width: 350px;
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 40%;
}

.nome {
  grid-area: nome;
  font-size: 2em;
}

.descricao{
  grid-area: bio;

}

section {
  padding: 2em;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.repos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.repo-card {
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 5px;
  background: #f9f9f9;
}

.following-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
  text-align: center;
}

.following-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  flex: 0 0 70%;
  max-width: 70%;
  object-fit: contain;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}


