#repositorios {
    padding: 2em;
    background-color: #f3daf5;
    border-bottom: #10002b 2px solid;

}

.repos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    text-align: justify;

}

.repo-card {
    max-height: 300px;
    min-height: 300px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #10002b;
    padding: 1em;
    border-radius: 5px;
    background: #f9f9f9;
}
