<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <title>Perfil GitHub</title>
</head>
<body>
    <header>
        <nav class="navbar">   
            <a href="perfil.html" class="logo">PERFIL GITHUB</a>
            <input type="checkbox" class="menu-btn" id="menu-btn"/>
            <label for="menu-btn" class="menu-icon">
                <span class="nav-icon"></span>
            </label>
                <ul class="menu">
                    <li><a href="#repositórios">repositórios</a></li>
                    <li><a href="#conteúdo sugerido">conteúdo sugerido</a></li>
                    <li><a href="#colegas de trabalho">colegas de trabalho</a></li>
                </ul>
        </nav>
    </header>
    <main>
        <section id="perfil">

        </section>
    
        <section id="repositorios">
    
        </section>
    
        <section id="conteudo">
            <div id="carousel">
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="imagem">
                    <h3>titulo</h3>
                    <p>descrição</p>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="imagem">
                    <h3>titulo</h3>
                    <p>descrição</p>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="imagem">
                    <h3>titulo</h3>
                    <p>descrição</p>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="imagem">
                    <h3>titulo</h3>
                    <p>descrição</p>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="imagem">
                    <h3>titulo</h3>
                    <p>descrição</p>
                </div>
                <div class="card">
                    <img src="https://via.placeholder.com/150" alt="imagem">
                    <h3>titulo</h3>
                    <p>descrição</p>
                </div>
            </div>
        </section>
    
        <secition id="colegas">
    
        </secition>
    
        <footer>
            <p><strong>Responsável pelo site: Maria Moreira</strong></p>
        </footer>
    
    </main>
    
    <script src="assets/js/perfil.j"></script>

</body>
</html>