<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil GitHub</title>
    <link rel="stylesheet" href="..\assets\css\repo.css">
    <meta name="perfil-github" content="trabalho prático 1">
    <meta name = "author" content = "Maria Moreira">
</head>
<!--Tela principal (index.html)
    Cabeçalho com seu nome e menu de seções do site 
    Seção1 - apresentação do seu perfil no GitHub com foto/avatar, nome e sobrenome, descrição, botões de contato (por exemplo, e-mail, Linkedin, etc)
    Seção 2 - grupo de cards com informações dos repositórios mantidos pelo aluno no GitHub. (Pelo menos 3 itens)
ORIENTAÇÃO: use componente do bootstrapLinks to an external site. (detalhes no link)
    Seção 3 - carrossel/slider com conteúdos e respectivas imagens sugeridos pelo aluno (Artigos, vídeos, infográficos, etc) (Pelo menos 5 itens)
ORIENTAÇÃO: use componente do bootstrapLinks to an external site. (detalhes no link)
    Seção 4 - grade com apresentação dos principais colegas de trabalho no curso. (Pelo menos 3 itens)
    Rodapé com informações sobre responsável pelo site (aluno/aluna) -->
<body>
    <header>

        <nav class="navbar">   
            <a href="perfil.html" class="logo">PERFIL GITHUB</a>
            <input type="checkbox" class="menu-btn" id="menu-btn"/>
            <label for="menu-btn" class="menu-icon">
                <span class="nav-icon"></span>
            </label>
            <!--div class="menu"-->
                <ul class="menu">
                    <li><a href="#repositórios">repositórios</a></li>
                    <li><a href="#conteúdo sugerido">conteúdo sugerido</a></li>
                    <li><a href="#colegas de trabalho">colegas de trabalho</a></li>
                </ul>
            <!--/div-->
        </nav>
        <br><br><br><br><!--gambiarra para n sumir com o nome da pagina-->
        <!--<label for="blah">label here</label>
        <input type="checkbox" id="blah">
            isso aq mostra como q funciona, se vc clicar no texto, marca a caixinha tbm, é assim q funciona com o menu
            o q esta no for tem q ser igual o id-->
    </header>
    <main>
        <h2>Repositorio: Advent of Code</h2>
        <hr>
        <section id="repositorio1">

            <h3>descrição</h3>
                <p>Advent of Code Challenges</p><!--na realidade não tem nenhuma, mas para ter alguma coisa para colocar no trabalho vai ser essa-->
            <div class="dadosrep">
                <h3>data de criação</h3>
                    <p>2023-12-03</p>
                <h3>linguagem</h3>
                    <p>JavaScript</p>

                <h3>link de acesso</h3>
                    <a href="Desafios Bootcamp Fullstack Santander">Advent of Code</a>
                <h3>tópicos</h3>
                    <button>JavaScript</button>

                </div>
                <div class="icones">
                    <div class="starfork">
                        <div class="star">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="22.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#4a6696" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"/></svg>
                            <p>0</p>
                        </div>
                        <div class="fork">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#4a6696" d="M80 104a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm80-24c0 32.8-19.7 61-48 73.3V192c0 17.7 14.3 32 32 32H304c17.7 0 32-14.3 32-32V153.3C307.7 141 288 112.8 288 80c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3V192c0 53-43 96-96 96H256v70.7c28.3 12.3 48 40.5 48 73.3c0 44.2-35.8 80-80 80s-80-35.8-80-80c0-32.8 19.7-61 48-73.3V288H144c-53 0-96-43-96-96V153.3C19.7 141 0 112.8 0 80C0 35.8 35.8 0 80 0s80 35.8 80 80zm208 24a24 24 0 1 0 0-48 24 24 0 1 0 0 48zM248 432a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z"/></svg>
                            <p>0</p>
                        </div>
                    </div>
                </div>
        </section>

    </main>
    <hr>
    <footer>
        <p><strong>Responsável pelo site: Maria Moreira</strong></p>
    </footer>
</body>
</html>